/* 
Project Name: Blow Your Face Off
Version: 1.0 
Description: A socially-distanced version of the party game telephone pictionary.
Authors: Jacob Griffin, Melinda Morang, Sarah Griffin
*/  


/* THEME BASIC -- Cooking City at color.adobe.com */
.theme-basic {
	--byfo-1: #2C33BF;
	--byfo-2: #6DCCF2;
	--byfo-3: #C0D904;
	--byfo-4: #F2B705;
	--byfo-5: #F28705;
	--byfo-lightened: rgba(255,255,255,.4)
}


/* THEME CANDY VOMIT -- From background artwork */
.theme-candy-vomit {
	--byfo-1: #000;
	--byfo-2: #6DCCF2;
	--byfo-3: #C0D904;
	--byfo-4: #F2B705;
	--byfo-5: #F28705;
	--byfo-lightened: rgba(255,255,255,.4)
}



/* CLEAR BUTTON CHANGES TEMP PASTE */



html, body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	min-height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--byfo-2);
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 2em auto;
	padding: 0;
	max-width: 500px;
}
li {
	display: inline-block;
}
h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}



/***** FLEX SETUP *****/
.layout-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.layout-wrapper > .page-content {
}



/***** HEADER *****/
#logo {
	margin: 0 auto;
}
#logo img {
	background: none;
	max-height: 100px;
}
.home #logo img {
	max-height: 400px;	
}



/***** FOOTER *****/
footer {
	display: block;
	margin: 2em 0 0 0;
}
.layout-wrapper > footer {
	padding: 1em 0;
	background-color: var(--byfo-lightened);
}
*.copyright {
	font-size: .7em;
}



/***** CANVASES CANVI? *****/
canvas, img{
	border: none;
	border-radius: 1em;
	background-color: #fff;
}
#drawingCanvas{
	touch-action: none;
}



/***** BUTTONS *****/
button, .button{
	color: white;
	background-color: var(--byfo-1);
	font-size: 1em;
	min-height: 2em;
	min-width: 6em;
	border: none;
	border-radius: 1em;
	margin: 5px;
	padding: 2em;
}
button:hover {
	cursor: pointer;
}
#submission button {
	background-color: var(--byfo-1);
	width: 100%;
	max-width: 500px;
}
#initialEntry button:nth-child(1){
	background-color: var(--byfo-5);
}
#initialEntry button:nth-child(2){
	background-color: var(--byfo-1);
}
button:hover, .button:hover {
	background-color: #1873cc;
}
button:active, .button:active {
	background-color: var(--byfo-3);
}
.controlSet button {
    background-color: var(--byfo-5);
    min-height: auto;
    min-width: auto;
    padding: .5em;
	margin-left: 3em;
}


/***** INPUT AND LABELS *****/
#startGameForm input, #inputZone #textInputBox{
	width: 100%;
	padding: 50px 25px;
	border: none;
	border-radius: 1em;
	margin: 1em 0 2em 0;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	max-width: 450px;
}
#startGameForm label{
	font-size: 1.2em;
}


#displayZone #textDisplay, .playerNameEnd {
	max-width: 400px;
	padding: 50px;
	font-size: 2em;
	background-color: var(--byfo-lightened);
	border-radius: 1em;
	margin: 1em auto;
}

#controlSection {
	margin: 2em auto 0 auto;
	background-color: var(--byfo-lightened);
	max-width: 500px;
	border-radius: 1em;
}
#controlSection .controlSet{
	margin: 1em .5em;
	display: inline-block;
}
#controlSection .eraseall{
	margin: 0 0 0 4em;
	color: crimson;
}
.controlSet, .controlSet input, .controlSet label {
	cursor: pointer;
}

#drawtools {
	border-top: 1px solid var(--byfo-2);
}



/***** END GAME *****/
.endgameText {
	font-size: 2em;
	margin: 0;
}
.longtext {
	font-size: 1.5em;
}
.endgameTextCanvas {
	height: 300px;
	width: 460px;
	padding: 20px;
	border: none;
	border-radius: 1em;
	background-color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.endgamePlayer {
	margin-top: 5em;
}
.endgameStacks {
	margin: 1em auto 5em auto;
	max-width: 500px;
}
ul.playerList {
	margin: 0 auto;
}
ul.playerList li {
	margin: .5em;
	background-color: var(--byfo-1);
	border: none;
	border-radius: 1em;
}
ul.playerList li.currentPlayer {
	background-color: var(--byfo-4);
}
ul.playerList li a {
    display: table-cell;
    vertical-align: middle;
	font-size: 1em;
	min-height: 1.5em;
	padding: .5em 1em;
	color: white;
}