/* 
Project Name: Blow Your Face Off
Version: 1.0 
Description: A socially-distanced version of the party game telephone pictionary.
Authors: Jacob Griffin, Melinda Morang, Sarah Griffin
*/  


/* THEME BASIC -- Cooking City at color.adobe.com */
.theme-basic {
	--byfo-1: #2C33BF;
	--byfo-2: #6DCCF2;
	--byfo-3: #C0D904;
	--byfo-4: #F2B705;
	--byfo-5: #F28705;
	--byfo-lightened: rgba(255,255,255,.4)
}


/* THEME CANDY VOMIT -- From background artwork */
.theme-candy-vomit {
	--byfo-1: #000;
	--byfo-2: #6DCCF2;
	--byfo-3: #C0D904;
	--byfo-4: #F2B705;
	--byfo-5: #F28705;
	--byfo-lightened: rgba(255,255,255,.4)
}




/* CLEAR BUTTON CHANGES TEMP PASTE */



/* WEB FONT */
@font-face {
  font-family: 'Maris-HalMed';
  src: url('fonts/Maris-HalMed/font.woff2') format('woff2'), url('fonts/Maris-HalMed/font.woff') format('woff');
}


html {
	background-color: var(--byfo-2);
}
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-align: center;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 2em auto;
	padding: 0;
	max-width: 500px;
}
li {
	display: inline-block;
}
li a{
	display: block;
	margin: .5em;
	color: white;
	background-color: var(--byfo-1);
	font-size: 1em;
	min-height: 1.5em;
	border: none;
	border-radius: 1em;
	padding: .5em 1em;
}

#logo {
	background-color: var(--byfo-1);
	width: 100%;
	text-align: center;
}
#logo p {
	font-family: 'Maris-HalMed', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 3em;
	color: #ffffff;
}

canvas, img{
	border: none;
	border-radius: 1em;
	background-color: #fff;
}
#drawingCanvas{
	touch-action: none;
}



/***** BUTTONS *****/
button, .button{
	color: white;
	background-color: var(--byfo-1);
	font-size: 1em;
	min-height: 2em;
	min-width: 6em;
	border: none;
	border-radius: 1em;
	margin: 5px;
	padding: 2em;
}
button:hover {
	cursor: pointer;
}
#submission button {
	background-color: var(--byfo-1);
	width: 100%;
	max-width: 500px;
}
#initialEntry button:nth-child(1){
	background-color: var(--byfo-5);
}
#initialEntry button:nth-child(2){
	background-color: var(--byfo-1);
}
button:hover, .button:hover {
	background-color: #1873cc;
}
button:active, .button:active {
	background-color: var(--byfo-3);
}
.controlSet button {
    background-color: var(--byfo-5);
    min-height: auto;
    min-width: auto;
    padding: .5em;
	margin-left: 3em;
}


#startGameForm input, #inputZone #textInputBox{
	width: 100%;
	padding: 50px 25px;
	border: none;
	border-radius: 1em;
	margin: 1em 0 2em 0;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	max-width: 450px;
}
#startGameForm label{
	font-size: 1.2em;
}


#displayZone #textDisplay, .playerNameEnd {
	max-width: 400px;
	padding: 50px;
	font-size: 2em;
	background-color: var(--byfo-lightened);
	border-radius: 1em;
	margin: 1em auto;
}

#controlSection {
	margin: 2em auto 0 auto;
	background-color: var(--byfo-lightened);
	max-width: 500px;
	border-radius: 1em;
}
#controlSection .controlSet{
	margin: 1em .5em;
	display: inline-block;
}
#drawtools {
	border-top: 1px solid var(--byfo-2);
}

/***** END GAME *****/
.endgameText {
	font-size: 2em;
	margin: 0;
}
.endgamePlayer {
	margin-top: 5em;
}
.endgameStacks {
	margin: 5em auto;
	max-width: 500px;
}